body {
  height: 1040px;
  border: solid 1px gold;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: rgb(206,220,231);
  background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
}

header {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  
}

#title1{
  text-align: left;
  font-size: 45px;

}

#divControl {
  text-align: center;
  height: 20px;
}

/***************************************************************/
.effects {
  animation: fadein 1s;
  -webkit-animation: fadein 1s; /* Safari et Chrome */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***************************************************************/
.effectsOut {
  animation: fadeout 500ms;
  -webkit-animation: fadeout 500ms; /* Safari et Chrome */
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  /* sur Safari et Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/***************************************************************/
#div1{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#btHistoric{
  width: 10%;
  background-color: #ADBDC6;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

#btHistoric:hover{
  background-color: #c5c5c5;
}

/***************************************************************/
input{
  width: 89%;
  font-size: 2em;
  border-radius: 5px;
  text-transform: capitalize;
}

input:valid {
  background-color: #bbf7ca;
}

input:invalid {
  background-color: #f7f7f7;

}

/***************************************************************/
p{
  border: solid 1px grey;
  border-radius: 5px;
  margin: 0;
  background: linear-gradient(to right,
  rgba(206,220,231,1) 0%,
  rgba(89,106,114,1) 100%);


}

p:hover{
  background: linear-gradient(to bottom,
  rgba(246,248,249,1) 0%,
  rgba(229,235,238,1) 50%,
  rgba(215,222,227,1) 51%,
  rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

p{
  text-transform: capitalize;
  margin: 2px;
}

.options{
  border: solid 1px grey;
  border-radius: 5px;
  opacity: 0.3;
  transition-duration: 0.4s;
  cursor: pointer;
}

.options:hover{
  opacity: 1;
}

.options:active{
  font-size: larger;
}

.tab{
  float: right;

}

.tab2{
  float: right;
  line-height: 120%;

}

::placeholder{
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
}

fieldset{
  border-radius: 5px;
  overflow: auto;
}

#fieldsetHist{
  display: none;
}

button{
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; 
}

/***************************************************************/
#btsStorage button{
  height: 49px;
  width: 49px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  border: none;
  outline: none;
  transition: all 200ms;
}

#btSave{
  background-color: red;
}

#btLoad{
  background-color: orange;
}

#btClear{
  background-color: green;
}

#btsStorage button:hover{
  background-color: #c5c5c5;
  transform: rotate(360deg);
}
/***************************************************************/
.draggable {
  position: relative;
  cursor: move;
  transition: all 200ms;
}

.dragEffects {
  transform: scale(0.9, 0.9);
  color: green;
  font-weight: 900;
}

/****************Media Queries**************************************/
@media all and (max-device-width: 480px){

  body {
    height: 100vh;
    border: none;
  }
  
  header {

    height: 6vh;

    
  }
  
  #title1{
    font-size: 4vh;
  
  }
  
  #divControl {
    height: 4vh;
    font-size: 2.5vh;
  }
  
  /***************************************************************/
  #btHistoric{
    width: 100%;
    height: 10vh;
    font-size: 7vh;
    position: absolute;
    bottom:0;
    right: 0;
    background-color: #59a56c;
    color: white;
    text-transform: uppercase;
  }

  #btHistoric:hover{
    background-color: #59a56c;
  }
  
  /***************************************************************/
  input{
    width: 100%;
    font-size: 5vh;
    height: 7vh;
  }

  /***************************************************************/
  p{
    
    font-size: 5vw;
    background-color: transparent;
    border: none;
  }

  fieldset{
    font-size: 2.5vh;
    padding: 1px;
  }

  .tab{
    float: right;
  
  }
  
  .tab2{
    float: right;
    line-height: 120%;
  
  }
  
  
  ::placeholder{
    font-size: 2.3vh;
  }

  /***************************************************************/
  #btsStorage button{
    height: 6vh;
    width: 6vh;
    font-size: 2.5vw;

  }

  /***************************************************************/
  



}

