body {
  height: 1040px;
  border: solid 1px gold;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: rgb(206,220,231);
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%);
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );
ntType=0 );
}

header {
  background-color: black;
  color: #ADBDC6;
  text-align: left;
  font-size: 45px;
  height: 50px;
}

#divControl {
  text-align: center;
  height: 20px;
}

.effects {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari et Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.effectsOut {
  animation: fadeout 0.5s;
  -moz-animation: fadeout 0.5s; /* Firefox */
  -webkit-animation: fadeout 0.5s; /* Safari et Chrome */
  -o-animation: fadeout 0.5s; /* Opera */
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  /* sur Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  /* sur Safari et Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  /* sur Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


#div1{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#btHistoric{
  width: 10%;
  background-color: #ADBDC6;
  cursor: pointer;
  border-radius: 5px;
}

#historic:hover{
  background-color: #7a99a8;
}

input{
  width: 89%;
  font-size: 2em;
  border-radius: 5px;
  
}

input:valid {
  background-color: #bbf7ca;
}

input:invalid {
  background-color: #f7f7f7;

}

p{
  background-color: #e3f2f2;
  border: solid 1px #c7edec;
  margin: 0;

}

p:hover{
  background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}



.options{
  border: solid 1px grey;
  border-radius: 5px;
  opacity: 0.3;
  transition-duration: 0.4s;
  cursor: pointer;
}

.options:hover{
  opacity: 1;
}

.options:active{
  font-size: larger;
}

.tab{
  float: right;
  clear: both;
}

::placeholder {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
}

fieldset{
  border-radius: 5px;

}

.tab2{
  float: right;
  clear: both;
}


